@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;800;900&family=Sigmar&family=Lumanosimo&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

:root{
    --second-bg-color:#112e42;
   --bg-color: #081b29;
   --text-color:#ededed;
   --main-color:#00abf0;
} 

body{
    background-color: var(--second-bg-color);
}

.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    align-content: center;
}



.container{
    box-shadow: 0 0 2px 2px grey;
    position: relative;
    top: 150px;
    background-color: var(--text-color);
    /* border: 5px solid var(--main-color); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding:0px 25px;
    z-index: 1;
}

.container heading{

    font-weight: bolder;
    font-family: Lumanosimo;
    color: black;
    font-size: 1.3rem;
  margin: 10px;
  padding: 5px 2px;
    text-align: center;
}

.input{
    margin-top: 5px;
}

.error_units{
    color: red;
    display: none;
}
.input_des{
    font-size: 1rem;
    font-family: poppins;
}

.input .input_no{
    margin-top: 2px;
   width: 100%;
   height:40px;
   outline: none;
   font-size: medium;
   border: 2px solid gray;
   padding: 5px;
   border-radius: 5px;
}

.input_currency_box{
    position: relative;
    display: flex;
    margin: 25px 0px;
    justify-content: space-between;
}

.swap_icon{
    font-size: 1.2rem;
    align-self: self-end;
    padding: 7px;
}

.select_box i{
    color: black;
}

select{
    font-size: 1.1rem;
    margin-left: 1px;
    padding-right: none;
}

.error{
    display: none;
    color: red;
    font-size: 0.8rem;
}

.select_box{
    color:white;
    display: flex;
    align-items: center;
    border: 2px solid grey;
   padding: 5px;
   padding-left: 12px;
    background-color: white;
    border-radius: 5px;
}

.input_currency_box i:hover{
        color: grey;
        cursor:pointer;
}
.from_des,.to_des{
    margin-bottom: 4px;
    font-size: 1rem;
    font-family: poppins;
}

.units{
       border: none;
       outline :none;
       padding: 5px;
       /* font-size: 1.05rem; */
}


.get_rate{
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 110%;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 2px solid blue;
}

.get_rate:hover{
    opacity: 0.7;

    cursor:pointer;
}

.output{
    padding: 5px;
    font-size: 1.05rem;
    font-weight: bold;
    letter-spacing: 0.3;
    color: black;
    display: none;
    border-radius: 8px;
    /* background-color: black; */
}